<!doctype html>
<html lang="en" dir="ltr">
	<head>

		<!--Meta Tags-->
		<%- include ('../commons/meta-tags.ejs') %>

		<!-- Title -->
		<title>AIIMS Raebareli Management - Create Qualification </title>

		<link rel="stylesheet" href="/static/fonts/fonts/font-awesome.min.css">

		<!-- Bootstrap Css -->
		<link id="style" href="/static/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

		<!-- Dashboard Css -->
		<link href="/static/css/style.css" rel="stylesheet" />
		<link href="/static/css/dark-style.css" rel="stylesheet" />
	    <link href="/static/css/transparent-style.css" rel="stylesheet" />
		<link href="/static/css/admin-custom.css" rel="stylesheet" />

		<!-- c3.js Charts Plugin -->
		<link href="/static/plugins/charts-c3/c3-chart.css" rel="stylesheet" />

		<!-- Morris.js Charts Plugin -->
		<link href="/static/plugins/morris/morris.css" rel="stylesheet" />

		<!-- p-scroll bar css-->
		<link href="/static/plugins/pscrollbar/pscrollbar.css" rel="stylesheet" />

		<!---Font icons-->
		<link href="/static/css/icons.css" rel="stylesheet"/>

		<!-- select2 Plugin -->
		<link href="/static/plugins/select2/select2.min.css" rel="stylesheet" />

		<!-- Color-Skins -->
		<link id="theme" rel="stylesheet" type="text/css" media="all" href="/static/color-skins/color-skins/color10.css" />
		<link rel="stylesheet" href="/static/color-skins/demo.css"/>

	</head>
		<body class="app sidebar-mini">


		<!--Loader-->
		<%- include ('loader.ejs') %>

		<div class="page">
			<div class="page-main">

				<!-- app-header---->
				<%- include ('header.ejs') %>
				<!-- app-header End---->

				<!-- Sidebar menu-->
				<%- include ('sidebar-menu.ejs') %>

				<!-- Main Content-->
				<div class="app-content">
					<div class="side-app">
						<div class="page-header">
							<h4 class="page-title">Create Qualification</h4>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="javascript:void(0);">Create Qualification</a></li>
							</ol>
						</div>

						<div class="row">
                            <% if(post){ %> 
                            <% if(success){ %> 
                            <div class="col-sm-12">
                                <div class="alert alert-success">
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="true">×</button>
                                        <strong>SUCCESS!</strong>
                                    <hr class="message-inner-separator">
                                    <p><%=msg%></p>
                                </div>
                            </div>
                            <%} else {%>
                            <div class="col-sm-12 ">
                                <div class="alert alert-danger">
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="true">×</button>
                                    <strong>ERROR!</strong>
                                    <hr class="message-inner-separator">
                                    <p><%=msg%></p>
                                </div>
                            </div>
                            <% } %>
                            <% } %>
							<div class="col-md-12">
								<div class="card m-b-20">
									<div class="card-header">
										<h3 class="card-title">Fill Details</h3>
									</div>
									<div class="card-body">
										<form method="post" enctype="multipart/form-data">
                                            <input type="hidden" name="_csrf" value="<%=_csrf%>">
											<div class="form-row">
												<div class="mb-3 col-md-8">
													<div class="mb-3">
														<label class="form-label">Qualification Name</label>
														<input type="text" class="form-control" name="name" placeholder="Qualification Name" required>
													</div>
												</div>
												<div class="mb-3 col-md-4">
													<label class="form-label">Status</label>
													<select class="form-control select2 form-select select2-hidden-accessible" name="status" data-select2-id="select2-data-inputState" tabindex="-1" aria-hidden="true" required>
														<option data-select2-id="select2-data-5-z64q" value="">Choose</option>
														<option>Active</option>
														<option>Inactive</option>
													</select>
												</div>
												<div class="mb-3 col-md-12">
													<label class="form-label">Qualification Description</label>
													<textarea class="form-control" name="description" rows="4" placeholder="Qualification Description (Optional)"></textarea>
												</div>
												<button type="submit" class="btn btn-primary ">Submit Qualification</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- FOOTER -->
				<%- include ('footer.ejs') %>
				<!-- FOOTER END -->
			</div>

		</div>

		<!-- Back to top -->
		<a href="#top" id="back-to-top" ><i class="fa fa-rocket"></i></a>


		<!-- Dashboard Core -->
		<script src="/static/js/vendors/jquery.min.js"></script>
		<script src="/static/plugins/bootstrap/js/popper.min.js"></script>
		<script src="/static/plugins/bootstrap/js/bootstrap.min.js"></script>
		<script src="/static/js/vendors/jquery.sparkline.min.js"></script>
		<script src="/static/js/vendors/selectize.min.js"></script>
		<script src="/static/js/vendors/jquery.tablesorter.min.js"></script>
		<script src="/static/js/vendors/circle-progress.min.js"></script>
		<script src="/static/plugins/rating/jquery.rating-stars.js"></script>


		<!-- Fullside-menu Js-->
		<script src="/static/plugins/toggle-sidebar/sidemenu.js"></script>


		<!-- CHARTJS CHART -->
		<script src="/static/plugins/chart/Chart.bundle.js"></script>
		<script src="/static/plugins/chart/utils.js"></script>

		<!--Morris.js Charts Plugin -->
		<script src="/static/plugins/morris/raphael-min.js"></script>
		<script src="/static/plugins/morris/morris.js"></script>

		<!-- Input Mask Plugin -->
		<script src="/static/plugins/input-mask/jquery.mask.min.js"></script>
		<script src="/static/js/index5.js"></script>

		<!--Counters -->
		<script src="/static/plugins/counters/counterup.min.js"></script>
		<script src="/static/plugins/counters/waypoints.min.js"></script>
		<script src="/static/plugins/counters/numeric-counter.js"></script>

		<!-- p-scroll bar Js-->
		<script src="/static/plugins/pscrollbar/pscrollbar.js"></script>
		<script src="/static/plugins/pscrollbar/pscroll.js"></script>

	 	<!-- sticky Js-->
		<script src="/static/js/sticky-1.js"></script>

		<!--Select2 js -->
		<script src="/static/plugins/select2/select2.full.min.js"></script>

		<!--Counters -->
		<script src="/static/plugins/counters/counterup.min.js"></script>
		<script src="/static/plugins/counters/waypoints.min.js"></script>

		<!-- Custom Js-->
		<script src="/static/js/admin-custom.js"></script>
		<script src="/static/js/themecolors.js"></script>

		<!-- Inline js -->
		<script src="/static/js/select2.js"></script>
		<script src="/static/js/formelements.js"></script>

	</body>
</html>